<!DOCTYPE html>
<html>
  <head>
    <title>Windygogo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  </head>

  <script type="text/javascript">
    
    window.pinkrobot = "<%= image_url('pinkrobot.png')%>"
    window.headshotv5 = "<%= image_url('headshotv5.jpg')%>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
